@page "/person/edit/{Id:int}"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@inject NavigationManager Navi
@using PeopleLib


<PageTitle>edit</PageTitle>



@if (Per == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <EditForm Model="@person" OnValidSubmit = "@submit">
        <DataAnnotationsValidator /> 
        <ValidationSummary />
        <InputText @bind-Value="person.FirstName"></InputText>
        <InputText @bind-Value="person.LastName"></InputText>
        <InputText @bind-Value="person.Title"></InputText>
        <button type="submit">Save changes</button>

    </EditForm>
}

@code {
    private Person[]? Per;
    

    private Person person;

    
    [Parameter]
    public int Id{get; set;}
   
    

    protected override async Task OnInitializedAsync() {
        Per = await Http.GetFromJsonAsync<Person[]>("/people");
       

        

        foreach (var item in Per)
        {
            if (item.Id == Id)
            {
                person = item;
            }
        }
    }
    private async Task submit(){

        var result = await Http.PutAsJsonAsync($"/people/{Id}",person);
        Navi.NavigateTo($"/person/details/{Id}");
    }



}
